@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #101010;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: #b00b69;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5d0a39;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ledger&family=Lekton:ital,wght@0,400;0,700;1,400&display=swap");
